version: "3.8"

services:
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    depends_on:
      - redis
    environment:
      - FLASK_ENV=development
    # deploy: âŒ jangan aktifkan untuk docker-compose biasa

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
